nav {
  height: 2rem;
  ul {
    display: flex;
    list-style: none;
    li {
      margin: 0.25rem;
      a {
        padding: 0.5rem;
        color: #fff;
        background: #007eb6;
      }
    }
  }
}
